# KFold Cross Validation Python Tutorial</h2>

# EXERCISE 1

In [12]:
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [121]:
import numpy as np
from sklearn.datasets import load_digits

In [122]:
import matplotlib.pyplot as plt

In [123]:
digits =  load_digits()

In [124]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [125]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [126]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [20]:
df = pd.DataFrame(digits.data,columns = digits.feature_names)
df

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [23]:
df["targets"] = digits.target
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,targets
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [31]:
df["targets_name"] = df.targets.apply(lambda x : digits.target_names[x])
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,targets,targets_name
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4,4

In [58]:
x_train,x_test,y_train,y_test = train_test_split(digits.data,digits.target,test_size = .5)    # data it just for features

In [59]:
model_logis = LogisticRegression()
model_logis.fit(x_train,y_train)
model_logis.score(x_test,y_test)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9566184649610678

In [60]:
model_svm  = SVC(gamma='auto')
model_svm.fit(x_train,y_train)
model_svm.score(x_test,y_test)

0.25583982202447164

In [61]:
model_forest = RandomForestClassifier()
model_forest.fit(x_train,y_train)
model_forest.score(x_test,y_test)

0.9655172413793104

In [62]:
from sklearn.model_selection import cross_val_score

In [74]:
cross_val_score(LogisticRegression(),digits.data,digits.target,cv = 3)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.92153589, 0.94156928, 0.91652755])

In [75]:
cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'),digits.data,digits.target,cv = 3)

array([0.89482471, 0.95325543, 0.90984975])

In [76]:
cross_val_score(SVC(gamma='auto'),digits.data,digits.target,cv = 3)

array([0.38063439, 0.41068447, 0.51252087])

In [77]:
cross_val_score(RandomForestClassifier(n_estimators = 40),digits.data,digits.target,cv = 3)

array([0.94323873, 0.94323873, 0.91652755])

# IT IS OPTIONAL SAME AS ABOVE

In [127]:
from sklearn.model_selection import KFold

In [128]:
kf = KFold()
kf

KFold(n_splits=5, random_state=None, shuffle=False)

In [134]:
for train_index,test_index in kf.split([1,2,3,4,5,6,7]):   # it gives index of data 
    print(train_index,test_index)

[2 3 4 5 6] [0 1]
[0 1 4 5 6] [2 3]
[0 1 2 3 5 6] [4]
[0 1 2 3 4 6] [5]
[0 1 2 3 4 5] [6]

In [135]:
from sklearn.model_selection import StratifiedKFold

In [143]:
folds = StratifiedKFold()

In [144]:
for train_index,test_index in folds.split(digits.data,digits.target):   # it gives index 
    print(train_index,test_index)

[ 335  347  349 ... 1794 1795 1796] [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 336 337 338 339 340 341 342
 343 344 345 346 348 350 351 352 353 356 358 361 364 366 367 370 375 377]
[   0    1    2 ... 1794 1795 1796] [335 347 349 354 355 357 359 360 362 363 365 368 369 371 372 373 374 376
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 702
 703 704 705 706 707 710 711 712 713 714 715 716 717 719 727 733 743 746]
[   0    1    2 ... 1794 1795 1796] [ 701  708  709  718  720  721  722  723  724  725  726  728  729  730
  731  732  734  735  736  737  738  739  740  741  742  744  745  747
  748  749  750  751  752  753  754  755  756  757  758  759  760  761
  762  763  764  765  766  767  768  769  770  771  772  773  774  775
  776  777  778  779  780  781  782  783  784  785  786  787  788  789
  790  791  792  793  794  795  796  797  798  799  800  801  802  803
  804  805  806  807  808  809  810  811  812  813  814  815  816  817
  818  819  820  821  822  823  824  825  826  827  828  829  830  831
  832  833  834  835  836  837  838  839  840  841  842  843  844  845
  846  847  848  849  850  851  852  853  854  855  856  857  858  859
  860  861  862  863  864  865  866  867  868  869  870  871  872  873
  874  875  876  877  878  879  880  881  882  883  884  885  886  887
  888  889  890  891  892  893  894  895  896  897  898  899  900  901
  902  903  904  905  906  907  908  909  910  911  912  913  914  915
  916  917  918  919  920  921  922  923  924  925  926  927  928  929
  930  931  932  933  934  935  936  937  938  939  940  941  942  943
  944  945  946  947  948  949  950  951  952  953  954  955  956  957
  958  959  960  961  962  963  964  965  966  967  968  969  970  971
  972  973  974  975  976  977  978  979  980  981  982  983  984  985
  986  987  988  989  990  991  992  993  994  995  996  997  998  999
 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041
 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055
 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1070 1071 1072
 1073 1074 1077 1078 1079 1081 1085 1091 1095]
[   0    1    2 ... 1794 1795 1796] [1067 1068 1069 1075 1076 1080 1082 1083 1084 1086 1087 1088 1089 1090
 1092 1093 1094 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106
 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120
 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134
 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148
 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161 1162
 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175 1176
 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189 1190
 1191 1192 1193 1194 1195 1196 1197 1198 1199 1200 1201 1202 1203 1204
 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214 1215 1216 1217 1218
 1219 1220 1221 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231 1232
 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246
 1247 1248 1249 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260
 1261 1262 1263 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273 1274
 1275 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287 1288
 1289 1290 1291 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301 1302
 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316
 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330
 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344
 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358
 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372
 1373 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 1386
 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399 1400
 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414
 1415 1416 1417 1418 1419 1420 1421 1422 1424 1425 1426 1427 1428 1429
 1430 1431 1432 1434 1435 1439 1440 1441 1444]
[   0    1    2 ... 1440 1441 1444] [1423 1433 1436 1437 1438 1442 1443 1445 1446 1447 1448 1449 1450 1451
 1452 1453 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465
 1466 1467 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479
 1480 1481 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493
 1494 1495 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507
 1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521
 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535
 1536 1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549
 1550 1551 1552 1553 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563
 1564 1565 1566 1567 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577
 1578 1579 1580 1581 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591
 1592 1593 1594 1595 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605
 1606 1607 1608 1609 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619
 1620 1621 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633
 1634 1635 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647
 1648 1649 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661
 1662 1663 1664 1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675
 1676 1677 1678 1679 1680 1681 1682 1683 1684 1685 1686 1687 1688 1689
 1690 1691 1692 1693 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703
 1704 1705 1706 1707 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717
 1718 1719 1720 1721 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731
 1732 1733 1734 1735 1736 1737 1738 1739 1740 1741 1742 1743 1744 1745
 1746 1747 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759
 1760 1761 1762 1763 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773
 1774 1775 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787
 1788 1789 1790 1791 1792 1793 1794 1795 1796]

In [145]:
x_train,x_test,y_train,y_test = digits.data[train_index],digits.data[test_index],digits.target[train_index],digits.target[test_index]

In [147]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

In [148]:
scores_logistic = []
scores_svm = []
scores_rf = []

for train_index, test_index in folds.split(digits.data,digits.target):
    X_train, X_test, y_train, y_test = digits.data[train_index], digits.data[test_index], \
                                       digits.target[train_index], digits.target[test_index]
    scores_logistic.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))  
    scores_svm.append(get_score(SVC(gamma='auto'), X_train, X_test, y_train, y_test))
    scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_test, y_train, y_test))

In [149]:
scores_logistic

[0.9222222222222223,
 0.8833333333333333,
 0.9526462395543176,
 0.958217270194986,
 0.8941504178272981]

In [150]:
scores_svm

[0.4111111111111111,
 0.45,
 0.45403899721448465,
 0.44846796657381616,
 0.479108635097493]

In [151]:
scores_rf

[0.9305555555555556,
 0.9083333333333333,
 0.9554317548746518,
 0.9637883008356546,
 0.9192200557103064]

In [139]:
x_train

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  2.,  6., ..., 14.,  1.,  0.],
       [ 0.,  0.,  6., ..., 12.,  1.,  0.],
       [ 0.,  0.,  8., ..., 13.,  2.,  0.]])

In [ ]:
Exercise
Use iris flower dataset from sklearn library and use cross_val_score against following models to measure the performance of each. In the end figure out the model with best performance,

Logistic Regression
SVM
Decision Tree
Random Forest

# exercise 2

In [184]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [185]:
from sklearn.datasets import load_iris

In [186]:
iris = load_iris()

In [187]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [188]:
df = pd.DataFrame(iris.data,columns  = iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [189]:
df["target"] = iris.target

In [190]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [191]:
df["target_name"] = df["target"].apply(lambda x : iris.target_names[x])

In [192]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [193]:
inputs = df.drop(["target","target_name"],axis =1)

In [194]:
target =df["target"]

In [195]:
x_train,x_test,y_train,y_test = train_test_split(inputs,target ,train_size = .7)

In [196]:
model_l = LogisticRegression()
model_l.fit(x_train,y_train)
model_l.score(x_test,y_test)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

1.0

In [197]:
model_s =SVC()
model_s.fit(x_train,y_train)
model_s.score(x_test,y_test)

0.9777777777777777

In [198]:
model_s = RandomForestClassifier()
model_s.fit(x_train,y_train)
model_s.score(x_test,y_test)

1.0

In [199]:
model_t = DecisionTreeClassifier()
model_t.fit(x_train,y_train)
model_t.score(x_test,y_test)

0.9777777777777777

In [200]:
model_b = GaussianNB()
model_b.fit(x_train,y_train)
model_b.score(x_test,y_test)

1.0

In [201]:
from sklearn.model_selection import cross_val_score

In [202]:
cross_val_score(LogisticRegression(),inputs,target,cv=3)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.98, 0.96, 0.98])

In [203]:
cross_val_score(SVC(),inputs,target,cv=3)

array([0.96, 0.98, 0.94])

In [204]:
cross_val_score(GaussianNB(),inputs,target,cv=3)

array([0.92, 0.94, 0.96])

In [205]:
cross_val_score(RandomForestClassifier(),inputs,target,cv=3)

array([0.98, 0.94, 0.98])

In [207]:
cross_val_score(DecisionTreeClassifier(),inputs,target,cv=3)

array([0.98, 0.94, 0.98])

In [ ]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=3)
kf
KFold(n_splits=3, random_state=None, shuffle=False)
for train_index, test_index in kf.split([1,2,3,4,5,6,7,8,9]):
    print(train_index, test_index)
[3 4 5 6 7 8] [0 1 2]
[0 1 2 6 7 8] [3 4 5]
[0 1 2 3 4 5] [6 7 8]
Use KFold for our digits example

def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=3)

scores_logistic = []
scores_svm = []
scores_rf = []

for train_index, test_index in folds.split(digits.data,digits.target):
    X_train, X_test, y_train, y_test = digits.data[train_index], digits.data[test_index], \
                                       digits.target[train_index], digits.target[test_index]
    scores_logistic.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))  
    scores_svm.append(get_score(SVC(gamma='auto'), X_train, X_test, y_train, y_test))
    scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_test, y_train, y_test))
scores_logistic
[0.8953488372093024, 0.9499165275459098, 0.9093959731543624]
scores_svm
[0.39368770764119604, 0.41068447412353926, 0.4597315436241611]
scores_rf
[0.9285714285714286, 0.9515859766277128, 0.9295302013422819]
cross_val_score function
from sklearn.model_selection import cross_val_score
Logistic regression model performance using cross_val_score

cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), digits.data, digits.target,cv=3)
array([0.89534884, 0.94991653, 0.90939597])
svm model performance using cross_val_score

cross_val_score(SVC(gamma='auto'), digits.data, digits.target,cv=3)
array([0.39368771, 0.41068447, 0.45973154])
random forest performance using cross_val_score

cross_val_score(RandomForestClassifier(n_estimators=40),digits.data, digits.target,cv=3)
array([0.93521595, 0.94156928, 0.93288591])
cross_val_score uses stratifield kfold by default

Parameter tunning using k fold cross validation
scores1 = cross_val_score(RandomForestClassifier(n_estimators=5),digits.data, digits.target, cv=10)
np.average(scores1)
0.8793698637138034
scores2 = cross_val_score(RandomForestClassifier(n_estimators=20),digits.data, digits.target, cv=10)
np.average(scores2)
0.9358915527370766
scores3 = cross_val_score(RandomForestClassifier(n_estimators=30),digits.data, digits.target, cv=10)
np.average(scores3)
0.9494121957589801
scores4 = cross_val_score(RandomForestClassifier(n_estimators=40),digits.data, digits.target, cv=10)
np.average(scores4)
0.9482877777434258
Here we used cross_val_score to fine tune our random forest classifier and figured that having around 40 trees in random forest gives best result.

Exercise
Use iris flower dataset from sklearn library and use cross_val_score against following models to measure the performance of each. In the end figure out the model with best performance,

Logistic Regression
SVM
Decision Tree
Random Forest