In [3]:
import pandas as pd

In [15]:
df = pd.read_csv("spam_detector.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
df["spam_column"]= df["Category"].map({"ham" : 0,"spam" : 1})

In [19]:
df.groupby("Category").describe()

         spam_column
               count mean  std  min  25%  50%  75%  max
Category
ham           4825.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam           747.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [9]:
df.head()

  Category                                            Message  spam_column
0      ham  Go until jurong point, crazy.. Available only ...            0
1      ham                      Ok lar... Joking wif u oni...            0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...            1
3      ham  U dun say so early hor... U c already then say...            0
4      ham  Nah I don't think he goes to usf, he lives aro...            0

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(df["Message"],df["spam_column"],train_size = .6)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
text = CountVectorizer()

In [56]:
x_new_train = text.fit_transform(x_train.values)  # it is use to convert values in numpy matrix

In [57]:
x_test_new = text.transform(x_test.values)

In [58]:
import numpy as np

In [59]:
x_new_train   # class 'numpy.int64' arra

<3343x6740 sparse matrix of type '<class 'numpy.int64'>'
	with 44909 stored elements in Compressed Sparse Row format>

In [60]:
x_new.toarray()[0:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
model = MultinomialNB()

In [63]:
model.fit(x_new_train,y_train)

MultinomialNB()

In [ ]:
#MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [67]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [68]:
email_transform = text.transform(email)

NameError: name 'email' is not defined

In [64]:
model.score(x_test_new,y_test)

0.9865410497981157

In [ ]:



MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)
array([0, 1], dtype=int64)
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)
0.9827709978463748
Sklearn Pipeline

from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])
clf.fit(X_train, y_train)
Pipeline(memory=None,
     steps=[('vectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('nb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])
clf.score(X_test,y_test)
0.9827709978463748
clf.predict(emails)
array([0, 1], dtype=int64)